body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

#navUsername {
    margin-left: auto !important;
    font-weight: bold !important;
    color: #3267d1 !important; /* not working */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

h2, p {
    margin: 0;
}

.category, .brand {
    font-style: italic;
}

.description {
    color: #555;
}

.stock, .price {
    font-weight: bold;
}

.buy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}